// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary:       #6a4cfe;  /* roxo principal */
  --ion-color-primary-rgb:   106,76,254;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #5e43e0;
  --ion-color-primary-tint:  #7b63ff;

  --ion-color-secondary:     #9b7bff;  /* roxo claro */
  --ion-color-tertiary:      #caa9ff;  /* ainda mais claro */
  --ion-color-medium:        #7c7c8a;
  --ion-color-light:         #f6f5ff;
}
